<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A&amp;E Events</key>
	<string>WVUEvents</string>
	<key>Athletics</key>
	<string>WVUSportsBuzz</string>
	<key>CS101</key>
	<string>WVUCS101</string>
	<key>Coach Bill Stewart</key>
	<string>CoachStewart</string>
	<key>Coach Marlon LeBlanc</key>
	<string>CoachLeBlanc</string>
	<key>Coach Mike Carey</key>
	<string>CoachMikeCarey</string>
	<key>Coack Nikki Izzo-Brown</key>
	<string>WVUIzzoBrown</string>
	<key>College of B&amp;E</key>
	<string>WVUCOBE</string>
	<key>Daily Athenaeum</key>
	<string>DailyAthenaeum</string>
	<key>Davis College</key>
	<string>WVUDavis</string>
	<key>Dean Dee Hopkins</key>
	<string>WVUDeanDee</string>
	<key>Digital Marketing Communications</key>
	<string>WVUDMC</string>
	<key>Eberly College</key>
	<string>WVUEberly</string>
	<key>Integrated Marketing Communications</key>
	<string>WVUIMC</string>
	<key>LCSEE Systems</key>
	<string>LCSEESystems</string>
	<key>Marching Band</key>
	<string>WVUMarchingBand</string>
	<key>Mountaineer Maniacs</key>
	<string>WVUManiacs</string>
	<key>Office of IT</key>
	<string>WVUOIT</string>
	<key>Social Justice</key>
	<string>WVUSocJustice</string>
	<key>Student Rec Center</key>
	<string>WVUSRC</string>
	<key>WVRHRC</key>
	<string>WVRHRC</string>
	<key>WVU News</key>
	<string>WVUNews</string>
	<key>WVU Tech</key>
	<string>WVUTech</string>
	<key>Well WVU</key>
	<string>WellWVU</string>
	<key>West Virginia University</key>
	<string>WestVirginiaU</string>
	<key>Young Dems</key>
	<string>WVUYoungDems</string>
</dict>
</plist>
