<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arnold&apos;s American Diner</key>
	<string>(304) 293-5640 ext. 25001</string>
	<key>Bits &amp; Bytes</key>
	<string>(304) 293-4821 ext. 2266</string>
	<key>Boreman Bistro</key>
	<string></string>
	<key>Brew &apos;n Gold Café</key>
	<string></string>
	<key>Burger King</key>
	<string>(304) 293-5743</string>
	<key>Café Evansdale</key>
	<string>(304) 293-4372 ext. 16502</string>
	<key>Cavanaugh&apos;s</key>
	<string>(304) 293-5743</string>
	<key>Eliza&apos;s</key>
	<string>(304) 293-2096 ext. 16203</string>
	<key>Fieldcrest</key>
	<string></string>
	<key>Freshëns</key>
	<string>(304) 293-5743</string>
	<key>Hatfield&apos;s</key>
	<string>(304) 293-6123</string>
	<key>Lyon&apos;s Den</key>
	<string>(304) 293-4372 ext. 12001</string>
	<key>McCoy&apos;s</key>
	<string>(304) 293-8529</string>
	<key>Quiznos</key>
	<string></string>
	<key>Sports Café</key>
	<string>(304) 293-5455</string>
	<key>Stalnaker</key>
	<string></string>
	<key>Summit Café</key>
	<string></string>
	<key>Waterfront Café</key>
	<string>(304) 293-5145</string>
</dict>
</plist>
