<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arnold&apos;s American Diner</key>
	<string>Arnold Hall</string>
	<key>Bits &amp; Bytes</key>
	<string>Engineering Sciences Building (ESB)</string>
	<key>Boreman Bistro</key>
	<string>Boreman Hall South</string>
	<key>Brew &apos;n Gold Café</key>
	<string>Towers</string>
	<key>Burger King</key>
	<string>Mountainlair</string>
	<key>Café Evansdale</key>
	<string>Towers</string>
	<key>Cavanaugh&apos;s</key>
	<string>Robert C. Byrd Health Sciences Center</string>
	<key>Eliza&apos;s</key>
	<string>Downtown Library</string>
	<key>Fieldcrest</key>
	<string>Fieldcrest Hall</string>
	<key>Freshëns</key>
	<string>Mountainlair</string>
	<key>Hatfield&apos;s</key>
	<string>Mountainlair</string>
	<key>Lyon&apos;s Den</key>
	<string>Towers</string>
	<key>Quiznos</key>
	<string>Mountainlair</string>
	<key>Sports Café</key>
	<string>Student Recreation Center</string>
	<key>Stalnaker</key>
	<string>Stalnaker Hall</string>
	<key>Summit Café</key>
	<string>Summit</string>
	<key>Waterfront Café</key>
	<string>One Waterfront Place</string>
</dict>
</plist>
