<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arnold&apos;s American Diner</key>
	<string>http://www.wvu.edu/~dining/locations/Arnold%20Cafe%20Trial.htm</string>
	<key>Bits &amp; Bytes</key>
	<string>http://www.wvu.edu/~dining/locations/Bitsnbytes%20trial%20page.htm</string>
	<key>Boreman Bistro</key>
	<string>http://www.wvu.edu/~dining/locations/Boreman%20trial%20page.htm</string>
	<key>Brew &apos;n Gold Café</key>
	<string>http://www.wvu.edu/~dining/locations/Brewngold%20trial%20page.htm</string>
	<key>Burger King</key>
	<string>http://www.wvu.edu/~dining/locations/Burgerking%20trial%20Page.htm</string>
	<key>Café Evansdale</key>
	<string>http://www.wvu.edu/~dining/locations/Cafe%20Evansdale%20trial%20page.htm</string>
	<key>Cavanaugh&apos;s</key>
	<string>http://www.wvu.edu/~dining/locations/Cavanaugh%27s%20trial%20page.htm</string>
	<key>Eliza&apos;s</key>
	<string>http://www.wvu.edu/~dining/locations/Eliza%27s%20trial%20page.htm</string>
	<key>Fieldcrest</key>
	<string>http://www.wvu.edu/~dining/locations/Fieldcrest%27s%20trial%20page.htm</string>
	<key>Freshëns</key>
	<string>http://www.wvu.edu/~dining/locations/Freshen%27s%20trial%20page.htm</string>
	<key>Hatfield&apos;s</key>
	<string>http://www.wvu.edu/~dining/locations/hatfields%20trial%20page.htm</string>
	<key>Lyon&apos;s Den</key>
	<string>http://www.wvu.edu/~dining/locations/lyons%20den%20trial%20page.htm</string>
	<key>McCoy&apos;s</key>
	<string>http://www.wvu.edu/~dining/locations/Mccoys%20trial%20page.htm</string>
	<key>Quiznos</key>
	<string>http://www.quiznos.com/</string>
	<key>Sports Café</key>
	<string>http://www.wvu.edu/~dining/locations/Sports%20cafe%20trial.htm</string>
	<key>Stalnaker</key>
	<string>http://www.wvu.edu/~dining/locations/Stalnaker%20trial%20Page.htm</string>
	<key>Summit Café</key>
	<string>http://www.wvu.edu/~dining/locations/Summit%20trial%20Page.htm</string>
	<key>Waterfront Café</key>
	<string>http://www.wvu.edu/~dining/locations/Waterfront%20trial%20Page.htm</string>
</dict>
</plist>
