#### `.gitignore`
# xcode noise
build/*
Libraries/FTUtils/build/*
Libraries/Three20/src/build/*
*/build/*
*.mode1v3
*.pbxuser

# SVN directories
.svn

# osx noise
.DS_Store
profile


build/
Payload/
.DS_Store
*~.nib
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.[oa]
*.ipa
 
.svn/
*.pyc
*.pyo
.DS_Store
*.db
*.swp
*.lock
*~
*.tmp
*.bak
access.log
error.log
*.pid
.pid
.fseventsd
.Trashes


# PRIVATE KEY DATA FOR DIRECTORY SEARCH
Features/Directory/Resources/PrivateKey.plist