<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arnold&apos;s American Diner</key>
	<string></string>
	<key>Bits &amp; Bytes</key>
	<string></string>
	<key>Boreman Bistro</key>
	<string></string>
	<key>Brew &apos;n Gold Café</key>
	<string></string>
	<key>Burger King</key>
	<string></string>
	<key>Café Evansdale</key>
	<string>Sunday</string>
	<key>Cavanaugh&apos;s</key>
	<string></string>
	<key>Eliza&apos;s</key>
	<string>Sun.</string>
	<key>Fieldcrest</key>
	<string></string>
	<key>Freshëns</key>
	<string></string>
	<key>Hatfield&apos;s</key>
	<string></string>
	<key>Lyon&apos;s Den</key>
	<string></string>
	<key>McCoy&apos;s</key>
	<string></string>
	<key>Quiznos</key>
	<string></string>
	<key>Sports Café</key>
	<string></string>
	<key>Stalnaker</key>
	<string></string>
	<key>Summit Café</key>
	<string></string>
	<key>Waterfront Café</key>
	<string></string>
</dict>
</plist>
