<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>iWVU</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-iPad.png</string>
		<string>Icon-iPad@2x.png</string>
		<string>Icon-iPhone.png</string>
		<string>Icon-iPhone@2x.png</string>
		<string>Icon-Spotlight.png</string>
		<string>Icon-Spotlight@2x.png</string>
		<string>Icon-Settings.png</string>
		<string>Icon-Settings@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.jaredcrawford.iWVU</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>LSMinimumSystemVersion</key>
	<string>3.0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
