<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainScreenSeg0Row0</key>
	<string>Buildings</string>
	<key>MainScreenSeg0Row1</key>
	<string>Buses</string>
	<key>MainScreenSeg0Row2</key>
	<string>Libraries</string>
	<key>MainScreenSeg0Row3</key>
	<string>Dining</string>
	<key>MainScreenSeg0Row4</key>
	<string>U92</string>
	<key>MainScreenSeg0Row5</key>
	<string>PRT</string>
	<key>MainScreenSeg0Row6</key>
	<string>Football</string>
	<key>MainScreenSeg0Row7</key>
	<string>Emergency Services</string>
	<key>MainScreenSeg0Row8</key>
	<string>Directory</string>
	<key>MainScreenSeg0Row9</key>
	<string>WVU Mobile</string>
	<key>MainScreenSeg0Row10</key>
	<string>The DA</string>
	<key>MainScreenSeg1Row0</key>
	<string>WVU.edu</string>
	<key>MainScreenSeg1Row1</key>
	<string>WVU Today</string>
	<key>MainScreenSeg1Row2</key>
	<string>WVU Alert</string>
	<key>MainScreenSeg1Row3</key>
	<string>MSNSportsNet</string>
	<key>MainScreenSeg1Row4</key>
	<string>Calendar</string>
	<key>MainScreenSeg1Row5</key>
	<string>MIX email</string>
	<key>MainScreenSeg1Row6</key>
	<string>eCampus</string>
	<key>MainScreenSeg1Row7</key>
	<string>Weather</string>
	<key>MainScreenSeg1Row8</key>
	<string>Directory</string>
	<key>MainScreenSeg1Row9</key>
	<string>Course Catalog</string>
	<key>AppVersion</key>
	<string>2.0</string>
</dict>
</plist>
