<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aerodynamics Laboratory</key>
	<string>AEL-E</string>
	<key>Agricultural Sciences Annex</key>
	<string>ASA-E</string>
	<key>Agricultural Sciences Building</key>
	<string>AGS-E</string>
	<key>Allen Hall</key>
	<string>ALH-E</string>
	<key>Animal Science Farm</key>
	<string>FRM-E</string>
	<key>Armstrong Hall</key>
	<string>ARM-D</string>
	<key>Arnold Apartments</key>
	<string>ARN-D</string>
	<key>Arnold Hall</key>
	<string>ARH-D</string>
	<key>Bennett Tower</key>
	<string>BTT-E</string>
	<key>Boreman Hall North</key>
	<string>BRN-D</string>
	<key>Boreman Hall South</key>
	<string>BRS-D</string>
	<key>Boreman Residential Faculty</key>
	<string>BRF-D</string>
	<key>Braxton Tower</key>
	<string>BXT-E</string>
	<key>Brooke Tower</key>
	<string>BRT-E</string>
	<key>Brooks Hall</key>
	<string>BKH-D</string>
	<key>Business &amp; Economics Building (BNE)</key>
	<string>BUE-D</string>
	<key>Chales C. Wise, Jr. Library</key>
	<string>LIB-D</string>
	<key>Chemistry Research Labratory</key>
	<string>CRL-D</string>
	<key>Chestnut Ridge Prof Building</key>
	<string>CRP-E</string>
	<key>Chestnut Ridge Research Building</key>
	<string>CRR-E</string>
	<key>Chitwood Hall</key>
	<string>CHI-D</string>
	<key>Clark Hall</key>
	<string>CKH-D</string>
	<key>Coliseum</key>
	<string>COL-E</string>
	<key>Colson Hall</key>
	<string>CLN-D</string>
	<key>Crime Scene Houses</key>
	<string>CS1-E,CS2-E,CS3-E,CSG-E</string>
	<key>Dadisman Hall</key>
	<string>DAD-D</string>
	<key>Downtown Bookstore</key>
	<string></string>
	<key>Downtown Library</key>
	<string>NDL-D</string>
	<key>ERC RFL Annex Office Building</key>
	<string>ERA-E</string>
	<key>Eisland Hall</key>
	<string>EIE-D</string>
	<key>Elizabeth Moore Hall (E. Moore)</key>
	<string>EMH-D</string>
	<key>Engineering Research Building (ERB)</key>
	<string>ERB-E</string>
	<key>Engineering Sciences Building (ESB)</key>
	<string>ESB-E</string>
	<key>Evansdale Library</key>
	<string>EVL-E</string>
	<key>Fieldcrest Hall</key>
	<string>FCH-E</string>
	<key>Greenhouse</key>
	<string>GRH-E</string>
	<key>Health Sciences Addition</key>
	<string>HSA-H</string>
	<key>Health Sciences North</key>
	<string>HSN-H</string>
	<key>Health Sciences South</key>
	<string>HSS-H</string>
	<key>Hodges Hall</key>
	<string>HOD-D</string>
	<key>Honors Hall</key>
	<string>HON-D</string>
	<key>Knapp Hall</key>
	<string>KNP-D</string>
	<key>Law Center</key>
	<string>LWC-E</string>
	<key>Life Sciences Building (LSB)</key>
	<string>LSB-D</string>
	<key>Lincoln Hall</key>
	<string>LNC-E</string>
	<key>Lyon Tower</key>
	<string>LYT-E</string>
	<key>Martin Hall</key>
	<string>MAR-D</string>
	<key>Medical Center Apartments</key>
	<string>MCA-E,MCB-E,MCJ-E,MCK-E</string>
	<key>Milan Puskar Center</key>
	<string>PSK-E</string>
	<key>Mineral Resources Building</key>
	<string>MRB-E</string>
	<key>Ming Hsieh Hall</key>
	<string>MHH-D</string>
	<key>Mountainlair</key>
	<string>MTL-D</string>
	<key>NIOSH Building</key>
	<string>NIO-E</string>
	<key>Natatorium Shell</key>
	<string>NAT-E</string>
	<key>National Research Center</key>
	<string>NRC-E</string>
	<key>Nursery School</key>
	<string>NUR-E</string>
	<key>Oglebay Hall</key>
	<string>OGH-D</string>
	<key>One Waterfront Place</key>
	<string>OWP-D</string>
	<key>Percival Hall</key>
	<string>PER-E</string>
	<key>Pierpont Apartments</key>
	<string>EXT-E</string>
	<key>Puriton House</key>
	<string>PUR-D</string>
	<key>South Agricultural Sciences</key>
	<string>SAS-E</string>
	<key>Stalnaker Hall</key>
	<string>STL-D</string>
	<key>Stansbury Hall</key>
	<string>STA-D</string>
	<key>Student Recreation Center</key>
	<string>SRC-E</string>
	<key>Student Services Center</key>
	<string>SSC-D</string>
	<key>Summit</key>
	<string>SMT-D</string>
	<key>University Services Center</key>
	<string>USC-E</string>
	<key>White Hall</key>
	<string>WHI-D</string>
	<key>Woodburn Hall</key>
	<string>WDB-D</string>
	<key>Stewart Hall</key>
	<string></string>
	<key>Cary Gymnastics Center</key>
	<string></string>
	<key>Dick Dlesk Soccer Stadium</key>
	<string></string>
	<key>Track and Field</key>
	<string></string>
	<key>Hawley Baseball Field</key>
	<string></string>
	<key>Creative Arts Center</key>
	<string>CAC-E</string>
	<key>Erickson Alumni Center</key>
	<string></string>
	<key>Physical Plant</key>
	<string></string>
	<key>Robert C. Byrd Health Sciences Center</key>
	<string></string>
	<key>Ruby Memorial Hospital</key>
	<string></string>
	<key>Chestnut Ridge Hospital</key>
	<string></string>
	<key>Caperton Indoor Facility</key>
	<string></string>
	<key>Towers</key>
	<string></string>
	<key>Evansdale Resedential Complex</key>
	<string></string>
	<key>International House</key>
	<string>SPH-D</string>
	<key>Walnut PRT Station</key>
	<string></string>
	<key>Downtown PRT Station</key>
	<string></string>
	<key>Engineering PRT Station</key>
	<string></string>
	<key>Towers PRT Station</key>
	<string></string>
	<key>Medical PRT Station</key>
	<string></string>
	<key>Football Stadium</key>
	<string></string>
</dict>
</plist>
