<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aerodynamics Laboratory</key>
	<real>-79.973889</real>
	<key>Agricultural Sciences Annex</key>
	<real>-79.96819000000001</real>
	<key>Agricultural Sciences Building</key>
	<real>-79.969756</real>
	<key>Allen Hall</key>
	<real>-79.96702000000001</real>
	<key>Animal Science Farm</key>
	<real>-79.928606</real>
	<key>Armstrong Hall</key>
	<real>-79.95538999999999</real>
	<key>Arnold Apartments</key>
	<real>-79.950428</real>
	<key>Arnold Hall</key>
	<real>-79.950149</real>
	<key>Bennett Tower</key>
	<real>-79.966714</real>
	<key>Boreman Hall North</key>
	<real>-79.951973</real>
	<key>Boreman Hall South</key>
	<real>-79.95231099999999</real>
	<key>Boreman Residential Faculty</key>
	<real>-79.95178</real>
	<key>Braxton Tower</key>
	<real>-79.965926</real>
	<key>Brooke Tower</key>
	<real>-79.96547</real>
	<key>Brooks Hall</key>
	<real>-79.955862</real>
	<key>Business &amp; Economics Building (BNE)</key>
	<real>-79.95400100000001</real>
	<key>Chales C. Wise, Jr. Library</key>
	<real>-79.953808</real>
	<key>Chemistry Research Labratory</key>
	<real>-79.95323399999999</real>
	<key>Chestnut Ridge Prof Building</key>
	<real>-79.953829</real>
	<key>Chestnut Ridge Research Building</key>
	<real>-79.95481599999999</real>
	<key>Chitwood Hall</key>
	<real>-79.954285</real>
	<key>Clark Hall</key>
	<real>-79.953974</real>
	<key>Coliseum</key>
	<real>-79.981171</real>
	<key>Colson Hall</key>
	<real>-79.95502500000001</real>
	<key>Crime Scene Houses</key>
	<real>-79.96454199999999</real>
	<key>Dadisman Hall</key>
	<real>-79.95193500000001</real>
	<key>Downtown Bookstore</key>
	<real>-79.953496</real>
	<key>Downtown Library</key>
	<real>-79.954328</real>
	<key>ERC RFL Annex Office Building</key>
	<real>-79.96544799999999</real>
	<key>Eisland Hall</key>
	<real>-79.955771</real>
	<key>Elizabeth Moore Hall (E. Moore)</key>
	<real>-79.95470299999999</real>
	<key>Engineering Research Building (ERB)</key>
	<real>-79.972261</real>
	<key>Engineering Sciences Building (ESB)</key>
	<real>-79.97310299999999</real>
	<key>Evansdale Library</key>
	<real>-79.970968</real>
	<key>Fieldcrest Hall</key>
	<real>-79.962782</real>
	<key>Greenhouse</key>
	<real>-79.96910699999999</real>
	<key>Health Sciences Addition</key>
	<integer>0</integer>
	<key>Health Sciences North</key>
	<real>-79.95777699999999</real>
	<key>Health Sciences South</key>
	<real>-79.957638</real>
	<key>Hodges Hall</key>
	<real>-79.955594</real>
	<key>Honors Hall</key>
	<real>-79.956093</real>
	<key>Knapp Hall</key>
	<real>-79.956436</real>
	<key>Law Center</key>
	<real>-79.95824399999999</real>
	<key>Life Sciences Building (LSB)</key>
	<real>-79.955315</real>
	<key>Lincoln Hall</key>
	<real>-79.96532500000001</real>
	<key>Lyon Tower</key>
	<real>-79.966097</real>
	<key>Martin Hall</key>
	<real>-79.954564</real>
	<key>Medical Center Apartments</key>
	<real>-79.962503</real>
	<key>Milan Puskar Center</key>
	<real>-79.953918</real>
	<key>Mineral Resources Building</key>
	<real>-79.97345199999999</real>
	<key>Ming Hsieh Hall</key>
	<real>-79.953158</real>
	<key>Mountainlair</key>
	<real>-79.95343200000001</real>
	<key>NIOSH Building</key>
	<real>-79.954285</real>
	<key>Natatorium Shell</key>
	<real>-79.983752</real>
	<key>National Research Center</key>
	<real>-79.971735</real>
	<key>Nursery School</key>
	<real>-79.97870899999999</real>
	<key>Oglebay Hall</key>
	<real>-79.95345399999999</real>
	<key>One Waterfront Place</key>
	<real>-79.963195</real>
	<key>Percival Hall</key>
	<real>-79.966983</real>
	<key>Pierpont Apartments</key>
	<real>-79.963126</real>
	<key>Puriton House</key>
	<real>-79.954779</real>
	<key>South Agricultural Sciences</key>
	<real>-79.96959</real>
	<key>Stalnaker Hall</key>
	<real>-79.952386</real>
	<key>Stansbury Hall</key>
	<real>-79.956452</real>
	<key>Student Recreation Center</key>
	<real>-79.970555</real>
	<key>Student Services Center</key>
	<real>-79.953158</real>
	<key>Summit</key>
	<real>-79.95617900000001</real>
	<key>University Services Center</key>
	<real>-79.96807200000001</real>
	<key>White Hall</key>
	<real>-79.954247</real>
	<key>Woodburn Hall</key>
	<real>-79.95492299999999</real>
	<key>Stewart Hall</key>
	<real>-79.95406</real>
	<key>Cary Gymnastics Center</key>
	<real>-79.982829</real>
	<key>Dick Dlesk Soccer Stadium</key>
	<real>-79.984095</real>
	<key>Track and Field</key>
	<real>-79.982936</real>
	<key>Hawley Baseball Field</key>
	<real>-79.984921</real>
	<key>Creative Arts Center</key>
	<real>-79.975432</real>
	<key>Erickson Alumni Center</key>
	<real>-79.963914</real>
	<key>Physical Plant</key>
	<real>-79.966103</real>
	<key>Robert C. Byrd Health Sciences Center</key>
	<real>-79.957734</real>
	<key>Ruby Memorial Hospital</key>
	<real>-79.956822</real>
	<key>Chestnut Ridge Hospital</key>
	<real>-79.955299</real>
	<key>Caperton Indoor Facility</key>
	<real>-79.954365</real>
	<key>Towers</key>
	<real>-79.965872</real>
	<key>Evansdale Resedential Complex</key>
	<real>-79.965872</real>
	<key>International House</key>
	<real>-79.952134</real>
	<key>Walnut PRT Station</key>
	<real>-79.956812</real>
	<key>Downtown PRT Station</key>
	<real>-79.955798</real>
	<key>Engineering PRT Station</key>
	<real>-79.97268</real>
	<key>Towers PRT Station</key>
	<real>-79.968796</real>
	<key>Medical PRT Station</key>
	<real>-79.959896</real>
	<key>Football Stadium</key>
	<string>-79.954741</string>
</dict>
</plist>
